h1 {
    background-color: black;
    color: whitesmoke;
}

.green{
    background-color: palevioletred;
    text-align: center;
    font-style: italic;
    color: wheat;
}

#red{
    color:rebeccapurple;
    background-color: paleturquoise;
    font-family: monospace;
    text-align: right;
    text-decoration: underline;
}

span {
    color:skyblue
}

